{
  "presets": [
    "env",
    "flow",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    ["react-css-modules", {
      "generateScopedName": "[local]___[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
